h1,
h2,
body,
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  color: white;
  position: fixed;
  text-transform: uppercase;
  padding: 40px;
  gap: 40px;
}
h1 {
  display: block;
  font-weight: bold;
  font-size: 37px;
}
h2 {
  font-weight: 100;
  font-size: 20px;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

nav {
  display: flex;
  /* position: absolute; */
  align-items: center;
  text-transform: uppercase;
  gap: 40px;
}

section {
  /* display: block; */
}
.first-image {
  background-image: url(https://spacey-kappa.vercel.app/assets/galaxy-5803c9f1.jpg);
}
.feature {
  background-size: cover;
  background-position: center;
  height: 100svh;
}
.webpage {
  position: relative;
  display: flex;
  color: white;
  flex-direction: column;
  top: 805px;
  left: 50px;
  line-height: 1.5;
  text-transform: uppercase;
}
.webpage-more {
  border: 2px solid white;
  color: white;
  margin-top: 25px;
  display: block;
  padding: 20px;
  width: fit-content;
}
.webpage-more:hover {
  background-color: white;
  color: black;
}

.second-image {
  background-image: url(https://spacey-kappa.vercel.app/assets/landscape-2ee9445b.jpg);
}
.third-image {
  background-image: url(https://spacey-kappa.vercel.app/assets/eclipse-11d9479c.jpg);
}
footer {
  color: rgb(60, 60, 60);
  background-color: black;
  text-align: center;
  padding: 35px;
  font-size: 15px;
}
.go-top {
  position: fixed;
  background-color: transparent;
  color: white;
  padding: 20px;
  display: flex;
  margin-left: 80%;
}
.go-top:hover {
  opacity: 0.7;
  background-color: rgb(53, 49, 49);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.audio {
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 17px;
}

.audio-buttons {
  background-color: transparent;
  color: white;
  padding: 5px;
}
.audio-buttons:hover {
  cursor: pointer;
}
